.author {
  font-size: 0.95em;
  font-weight: 600;
  margin-top: -1.25em;
  margin-bottom: 1.25em;
}

/* Abandoning custom theme for now.
 * Light mode is too much to think about at this stage.
 * Might come back to it.
 */
/* srcery/ghostty palette */
/* :root {
  --srcery-0: #1c1b19;
  --srcery-1: #ef2f27;
  --srcery-2: #519f50;
  --srcery-3: #fbb829;
  --srcery-4: #2c78bf;
  --srcery-5: #e02c6d;
  --srcery-6: #0aaeb3;
  --srcery-7: #baa67f;
  --srcery-8: #918175;
  --srcery-9: #f75341;
  --srcery-10: #98bc37;
  --srcery-11: #fed06e;
  --srcery-12: #68a8e4;
  --srcery-13: #ff5c8f;
  --srcery-14: #2be4d0;
  --srcery-15: #fce8c3;
  --srcery-background: var(--srcery-0);
  --srcery-foreground: var(--srcery-15);
  --srcery-cursor: var(--srcery-3);
} */

/* srcery-15: oklch(0.94 0.05 82.83) */
/* srcery-12: oklch(0.71 0.11 248.13) */
/* :root {
	--sl-color-accent-low: #00273d;
  --sl-color-accent: var(--srcery-4);
  --sl-color-accent-high: oklch(.90 .15 270);
  --sl-color-white: #eeeded;
  --sl-color-gray-1: #eeeded;
  --sl-color-gray-2: #eeeded;
  --sl-color-gray-4: #5a5756;
  --sl-color-gray-5: #3a3836;
  --sl-color-gray-6: var(--srcery-background);
  --sl-color-black: var(--srcery-background);
}

:root[data-theme='light'] {
	--sl-color-accent-low: #00273d;
  --sl-color-accent: var(--srcery-4);
  --sl-color-accent-high: oklch(from var(--srcery-4) .4 c h);
  --sl-color-white: var(--srcery-0);
  --sl-color-gray-1: var(--srcery-0);
  --sl-color-gray-2: var(--srcery-0);
  --sl-color-gray-4: #5a5756;
  --sl-color-gray-5: var(--srcery-15);
  --sl-color-gray-6: var(--srcery-15);
  --sl-color-gray-7: white;
  --sl-color-black: white;
} */
