---
import BaseLayout from '../layouts/Base.astro'
---

<BaseLayout title="Scratch">
    <nav>
        <ul>
            <li><a href="/yt">YouTube RSS Loader</a></li>
            <li><a href="/yt-api">YouTube Data API Loader</a></li>
        </ul>
    </nav>
</BaseLayout>
