---
import BaseLayout from '@/layouts/TwBase.astro'
import { Button } from '@/components/ui/button'
import xterm from '@xterm/xterm'
import '@xterm/xterm/css/xterm.css'
---

<script>
    import { Terminal } from '@xterm/xterm'
    const term = new Terminal()
    term.open(document.querySelector('#terminal')!)
</script>
<BaseLayout title="xterm.js test" class="dark">
    <Button>Button</Button>
    <div id="terminal"></div>
</BaseLayout>