---
import { getCollection } from 'astro:content'
import RepoDay from './RepoDay.astro'

const github = await getCollection('github')
github.sort((a, b) => b.id.localeCompare(a.id))
---

{
  github.map(({ id: day, data }) => {
    return (
      <article>
        <h3>{day}</h3>
        {data.map(({ repo, commits }) => {
          return <RepoDay {repo} {commits} />
        })}
      </article>
    )
  })
}
